<h1>New Bojack Horseman Character:</h1>

<form method="post" action="/characters">
    <p>Name: <input type="text" name="name"></p>
    <p>Gender: <input type="text" name="gender"></p>
    <p>Animal: <input type="checkbox" name="animal?" value=true></p>
    <p>Depressed: <input type="checkbox"  name="depressed?" value=true></p>
    <input type="submit" value="Create!">
</form>


