<h1>New Bojack Horseman Character:</h1>

<form method="post" action="/characters">
    <p>Name: <input type="text" id="name" name="name"></p>
    <p>Gender: <input type="text" id="gender" name="gender"></p>
    <p>Animal?: <input type="text" id="animal?" name="animal?"></p>
    <p>Depressed?: <input type="text" id="depressed?" name="depressed?"></p>
    <input type="submit" value="Create!">
</form>


# t.integer :user_id
     